.container {
}
.content {
  width: 50%;
  text-align: left;
  color: black;
}

.image {
  background-image: 
      /* top image*/ linear-gradient(
      to right,
      rgb(255, 255, 255) 20%,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    /*bottom image*/ url(/src/pics/IMG_5280.JPG);
  /* background-position: right; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
  width: 100%;
}
