@font-face {
  font-family: Saol;
  src: url(../fonts/SaolDisplay-Regular.ttf);
}

.heading {
  padding: 40px 0;
  font-size: 40px;
  font-family: Saol;
}

.content {
  width: 50%;
  text-align: left;
  color: black;
}

.card_title {
  font-size: 2rem !important;
  font-family: Saol;
}

.card_text {
  font-size: 1.2rem !important;
  font-family: Saol;
  font-style: italic;
}

.buttons {
  width: 150px;
  margin: 10px auto;
  background-color: rgb(249, 186, 196) !important;
  border: none !important;
  color: black !important;
}

.image {
  background-image: 
      /* top image*/ linear-gradient(
      to right,
      rgb(255, 255, 255) 20%,
      rgba(0, 0, 0, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    /*bottom image*/ url(/src/pics/IMG_5280.JPG);
  /* background-position: right; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  color: white;
  width: 100%;
}

.carousel_container {
  padding: 0;
}

.carousel {
  height: 500px;
  width: auto;
  object-fit: contain;
}
